openapi: 3.0.0
info:
  version: 3.0.0-draft
  title: Order Placement API
  description: This API is used to place orders and check on the order status.
  contact:
    email: openwealth@synpulse.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - description: Your server url
    url: https://www.openwealth.ch
security: []
tags:
  - name: account
    description: Account operations.
  - name: order
    description: Order operations.
  - name: execution
    description: Execution operations.
  - name: order-status
    description: Order status operations.
  - name: event-subscription
    description: Event notification subscription operations.
  - name: event-notification
    description: Event notification operations.
externalDocs:
  description: Find out more about OpenWealth API specifications.
  url: https://openwealth.ch
paths:
  /customers:
    get:
      tags:
        - customers
      summary: Returns all customers (business partners) accessible for the logged in user
      description: |
        This endpoint returns a highlevel list of customers accessible for the
        logged in user. Paging is done based on the customer object,
        i.e. if limit is set to 1, then 1 customer will be returned per page.
      operationId: getCustomers
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '200':
          description: Returns a list with all customers.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-Id'
            nextCursor:
              $ref: '#/components/headers/X-Next-Cursor'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /customers/{customerId}:
    get:
      tags:
        - customers
      summary: Returns a specific customer by id
      description: Returns a specific customer by id accessible for the requesting user.
      operationId: getCustomerById
      parameters:
        - $ref: '#/components/parameters/path_customerId'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '200':
          description: Returns a the specified customer.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /accounts:
    get:
      tags:
        - account
      summary: Returns list of accounts the requestor has access to
      description: |
        Returns list of accounts the requestor has access to Paging is done based on the accountaccess
        object, i.e. if limit is set to 1, then 1 account object will be returned per page.
      operationId: getAccounts
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '200':
          description: Returns list of accounts the requestor has access to.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders:
    post:
      tags:
        - order
      summary: Posts a new order
      description: Posts a new order.
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/expandOrder'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '202':
          description: Order accepted for further processing.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
    get:
      tags:
        - order
      summary: Returns a list of open orders
      description: |
        Returns all open orders to which the user of the API has access to. Paging is done based on the order object,
        i.e. if limit is set to 1, then 1 order will be returned per page.
      operationId: getOrders
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '200':
          description: Order list.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-nextCursor:
              $ref: '#/components/headers/X-Next-Cursor'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}:
    get:
      tags:
        - order
      summary: Returns a single order
      description: Returns a specific security order.
      operationId: getOrderById
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/expandOrder'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '200':
          description: Receive a specific order with the corresponding allocations and status.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}/action/cancel:
    post:
      tags:
        - order
      summary: Cancellation of a specific order
      description: Places the cancellation request for a specific order.
      operationId: cancelOrderById
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '202':
          description: Order cancellation received for further processing.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}/executions:
    get:
      tags:
        - execution
      summary: Returns a list of executions by order
      description: |
        Returns all executions by order ID
      operationId: getOrderEcecutions
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '200':
          description: Execution list.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-nextCursor:
              $ref: '#/components/headers/X-Next-Cursor'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Execution'
              examples:
                ExecutionsOrder1:
                  value:
                    - id: exec-1
                      orderId: order-1
                      reference: exec-1
                      quantity: 2
                      executionDateTime: '2018-04-13T14:00:00Z'
                      price:
                        type: actual
                        value: 10
                        currency: CHF
                      placeOfTrade:
                        marketIdentificationCode: XSWX
                    - id: exec-2
                      orderId: order-1
                      reference: exec-2
                      quantity: 2
                      executionDateTime: '2018-04-13T15:00:00Z'
                      price:
                        type: actual
                        value: 11
                        currency: CHF
                      placeOfTrade:
                        marketIdentificationCode: XBRN
                    - id: exec-3
                      orderId: order-1
                      reference: exec-3
                      quantity: 1
                      executionDateTime: '2018-04-13T16:00:00Z'
                      price:
                        type: actual
                        value: 12
                        currency: CHF
                      placeOfTrade:
                        marketIdentificationCode: XFRA
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}/executions/{executionId}:
    get:
      tags:
        - execution
      summary: Returns a single execution
      description: Returns a specific execution by order ID and execution ID.
      operationId: getExecutionById
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/executionId'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '200':
          description: Receive a specific order with the corresponding allocations and status.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}/statuses:
    get:
      tags:
        - order-status
      summary: Returns list of order statuses for a given order
      description: |
        Returns list of order statuses for a given order. Paging is done based on
        the order status object, i.e. if limit is set to 1, then 1 order status
        object will be returned per page.
      operationId: getOrderStatuses
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      responses:
        '200':
          description: Returns list of accounts the requestor has access to.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /quotes:
    post:
      tags:
        - quote
      summary: Request a quote
      description: Request quote an FX or crypto product
      operationId: requestQuote
      parameters:
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quote'
      responses:
        '200':
          description: Returns quote for the given request.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /event-subscriptions:
    get:
      summary: Get event subscriptions
      description: Get list of event subscriptions.
      operationId: getEventSubscriptions
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      tags:
        - event-subscription
      responses:
        '200':
          description: List of EventSubscriptions
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            x-nextCursor:
              $ref: '#/components/headers/X-Next-Cursor'
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventNotifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventSubscription'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
    post:
      summary: Create event subscription
      description: Create event subscription
      operationId: createEventSubscription
      parameters:
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      tags:
        - event-subscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
      responses:
        '201':
          description: EventSubscription created
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
          links:
            GetSubscriptionById:
              description: |
                The `eventSubscriptionId` value returned in the response can be used as the `eventSubscriptionId` parameter in `GET /event-subscriptions/{eventSubscriptionId}`.
              operationId: getEventSubscription
              parameters:
                eventSubscriptionId: $response.body#/id
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
  /event-subscriptions/{eventSubscriptionId}:
    parameters:
      - $ref: '#/components/parameters/path_eventSubscriptionId'
    get:
      summary: Get event subscription
      description: Get event subscription by id.
      parameters:
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      operationId: getEventSubscription
      tags:
        - event-subscription
      responses:
        '200':
          description: EventSubscription
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
    put:
      summary: Update event subscription
      description: Update event subscription.
      operationId: updateEventSubscription
      parameters:
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      tags:
        - event-subscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
            example:
              eventTypes:
                - Order:Created
                - Order:Partially_Filled
              callbackUrl: /ttpAPI/notifications/order-placement/
      responses:
        '204':
          description: Successfully updated (empty response)
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
    delete:
      summary: Delete event subscription
      description: Delete event subscription by id.
      operationId: deleteEventSubscription
      parameters:
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      tags:
        - event-subscription
      responses:
        '204':
          description: Successfully deleted
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
  /event-subscriptions/{eventSubscriptionId}/event-notifications:
    parameters:
      - $ref: '#/components/parameters/path_eventSubscriptionId'
      - $ref: '#/components/parameters/fromEventDateTime'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
    get:
      summary: Get event notifications list
      description: Get aggregated event-notification list.
      operationId: getEventNotifications
      parameters:
        - $ref: '#/components/parameters/x_correlation_id_in_header'
      tags:
        - event-notification
      responses:
        '200':
          description: aggregated event-notification list
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            x-nextCursor:
              $ref: '#/components/headers/X-Next-Cursor'
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventNotifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventSubscription'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
components:
  parameters:
    cursor:
      in: query
      name: cursor
      required: false
      schema:
        type: string
      description: An opaque string value used for pagination.
    limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
      description: Maximum number of items to return.
    x_correlation_id_in_header:
      in: header
      name: X-Correlation-ID
      required: true
      schema:
        type: string
      description: Unique ID (defined by the caller) which will be reflected back in the response.
    path_customerId:
      in: path
      name: customerId
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 128
        example: 123123-456
        description: Unique and unambiguous identification used by the bank for the customer.
      description: Customer ID Parameter.
    expandOrder:
      name: expand
      in: query
      description: |
        Expand related resources. Comma-separated values, supporting:
        - `allocationList`: Include allocationList details.
        - `allocationList.executionAllocationList`: Include executionAllocationList details on the allocation.
        - `allocationList.allocationCancellationReasonList`: Include allocationCancellationReasonList details on the allocation.
        - `orderCancellationReasonList`: Include orderCancellationReasonList
      schema:
        type: string
        items:
          type: string
          enum:
            - allocationList
            - allocationList.executionAllocationList
            - allocationList.allocationCancellationReasonList
            - orderCancellationReasonList
      style: form
      explode: false
    orderId:
      in: path
      name: orderId
      required: true
      schema:
        type: string
        maxLength: 20
      description: The order ID as given by the API provider.
    executionId:
      in: path
      name: executionId
      required: true
      schema:
        type: string
        maxLength: 128
      description: The execution ID as given by the API provider.
    path_eventSubscriptionId:
      in: path
      name: eventSubscriptionId
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 40
      description: |
        Unique identification as assigned by the API exposing party to uniquely
        identify the callback URL resource.
    fromEventDateTime:
      in: query
      name: fromEventDate
      schema:
        type: string
        format: date-time
      description: Date from which events are considered.
      example: 2022-10-26T07:58:30.996+0100
  headers:
    X-Correlation-Id:
      description: Client defined ID from request to correlates HTTP requests between a client and server.
      schema:
        type: string
        example: f058ebd6-02f7-4d3f-942e-904344e8cde5
    X-Next-Cursor:
      description: An opaque string value, or an empty string if there are no more results.
      required: false
      schema:
        type: string
    Problem-Content-Type:
      description: application/problem+json; charset=utf-8 according to RFC7807.
      schema:
        type: string
        example: application/problem+json
    Content-Language:
      description: Response language - always en.
      schema:
        type: string
        example: en
    X-Correlation-ID:
      description: Client defined ID from request to correlates HTTP requests between a client and server.
      schema:
        type: string
        example: f058ebd6-02f7-4d3f-942e-904344e8cde5
  schemas:
    Customer:
      title: Customer
      type: object
      description: Overview of the customer with the respective accounts.
      required:
        - id
      properties:
        id:
          type: string
          maxLength: 128
          description: Unique and unambiguous identification (i.e. UUID) used by the bank for the customer.
          example: MTIzNDUtNg
        number:
          type: string
          description: Contains the customers custody proprietary customer number if available.
          maxLength: 70
          example: 12345-6
    CommonErrorType:
      title: Common Error Type
      description: Error Types for CommonErrorResponse.
      type: string
      enum:
        - /problems/INVALID_PAYLOAD
        - /problems/MALFORMED_PAYLOAD
        - /problems/INVALID_TOKEN
        - /problems/EXPIRED_TOKEN
        - /problems/INSUFFICIENT_PRIVILEGES
        - /problems/NO_ACCESS_TO_RESOURCE
        - /problems/RESOURCE_DOES_NOT_EXIST
        - /problems/RESOURCE_NOT_READY
        - /problems/RESOURCE_TOO_LARGE
        - /problems/WRONG_METHOD
        - /problems/OPERATION_NOT_ALLOWED
        - /problems/TECHNICAL_ERROR
        - /problems/NOT_IMPLEMENTED
        - /problems/SERVICE_UNAVAILABLE
        - /problems/TOO_MANY_REQUESTS
      example: /problems/TECHNICAL_ERROR
    CommonErrorResponse:
      title: CommonErrorResponse
      type: object
      description: Common error response.
      properties:
        type:
          $ref: '#/components/schemas/CommonErrorType'
        title:
          type: string
          description: Title of the error response.
          example: This is the general problem description
        detail:
          type: string
          description: Detailed description of the error response.
          example: Detailed problem description with respect to the current request
        instance:
          type: string
          description: Entity instance that threw the error.
          example: path/to/corresponding/resource
    Account:
      type: object
      required:
        - type
        - iban
        - number
        - customerId
        - accessType
      properties:
        id:
          type: string
          maxLength: 128
          example: a8fcbd1b-d5b8-44ea-9862-0ab24318e7f1
          description: Unique and unambiguous identification for the account. The IBAN should NOT be the account identifier.
        type:
          type: string
          description: Indicates the type of the account.
          example: safekeepingAccount
          enum:
            - cashAccount
            - safekeepingAccount
            - other
        iban:
          type: string
          description: Contains the accounts International Banking Account Number (IBAN) for an account if available.
          maxLength: 34
          example: CH1234567891234
        number:
          type: string
          description: Contains the accounts custody proprietary account number for an account if available.
          maxLength: 70
          example: 123-1234-234
        customerId:
          description: Unique and unambiguous identification (i.e. UUID) used by the bank for the customer.
          type: string
          maxLength: 128
          example: 6dca5123-e370-4272-8ef4-68d421f52f6e
        accessType:
          type: string
          description: Indicates what type of access the requestor has for the specified account.
          enum:
            - read
            - write
          example: read
    DateTime:
      title: DateTime
      type: string
      description: DateTime according to ISO 8601.
      format: date-time
      example: '2018-04-13T16:00:00Z'
    OrderStatus:
      type: object
      description: Provides the status of the order was at the given timestamp.
      properties:
        status:
          type: string
          description: Shows in which stage of its life cycle an order is.
          enum:
            - acknowledged
            - accepted
            - customerRelease
            - placed
            - partiallyFilled
            - filled
            - executed
            - cancelled
            - partiallyCancelled
            - marketCancelled
            - pendingCancel
            - rejected
            - partiallyRejected
            - marketRejected
            - expired
            - partiallyExpired
            - marketExpired
            - restated
          example: partiallyFilled
        statusDateTime:
          description: |
            Indicates the date and time at which the status has been updated into the status indicated under "status" (UTC Timestamp).
            In accordance with ISO 8601.
          $ref: '#/components/schemas/DateTime'
    PlaceOfTrade:
      type: object
      description: Market in which a trade transaction is to be or has been executed.
      properties:
        marketIdentificationCode:
          type: string
          pattern: ^[A-Z0-9]{4}$
          description: |
            Market Identifier Code. Identification of a financial market, as stipulated in the norm ISOMarket Identifier Code.
            Identification of a financial market, as stipulated in the norm ISO 10383 "Codes for exchanges and market identifications".
          example: XSWX
        marketDescription:
          type: string
          maxLength: 128
          description: Description of the market when no Market Identification Code is available.
          example: OTC
    Currency:
      title: Currency
      type: string
      description: ISO 4217 code.
      pattern: ^[A-Z]{3}$
      example: CHF
    Price:
      type: object
      description: Price entity.
      required:
        - type
        - value
      properties:
        type:
          type: string
          description: Indicates whether the price amount is depicted as actual currency amount per unit or as percentage.
          example: percentage
          enum:
            - actual
            - percentage
        value:
          type: number
          example: 100.23
          description: Signed decimal number.
        currency:
          $ref: '#/components/schemas/Currency'
    Quantity:
      title: Quantity
      type: object
      description: Quantity entity.
      required:
        - type
        - value
      properties:
        type:
          type: string
          description: Specifies the type of the amount.
          example: unit
          enum:
            - unit
            - faceAmount
            - amortisedValue
            - digitalTokenUnit
        value:
          type: number
          example: 12000
          description: Signed decimal number.
    OrderSide:
      type: string
      description: Side taken by a party on an order.
      example: buy
      enum:
        - buy
        - sell
        - subscribe
        - redeem
    UnitReference:
      type: string
      description: |
        indicates whether the order quantity is expressed in base instrument or quote instrument.
        BaseInstrument by default.
      enum:
        - baseInstrument
        - quoteInstrument
      default: baseInstrument
    PositionEffect:
      type: string
      description: |
        Indicates whether the resulting position after a trade should be an opening position or closing position.
      enum:
        - open
        - close
        - rolled
        - fifo
    FinancialInstrumentBase:
      type: object
      required:
        - type
        - identification
      properties:
        type:
          description: Type of ordered instrument
          type: string
          enum:
            - basic
            - forward
            - exchangeTradedDerivative
            - preciousMetal
            - preciousMetalForward
        identification:
          $ref: '#/components/schemas/FinancialInstrumentIdentification'
    FinancialInstrumentForward:
      title: Financial instrument forward settlement agreement
      description: Schema of a financial instrument forward settlement agreement
      allOf:
        - $ref: '#/components/schemas/FinancialInstrumentBase'
        - type: object
          required:
            - settlementDate
          properties:
            settlementDate:
              $ref: '#/components/schemas/Date'
    ExchangeTradedDerivative:
      title: Exchange traded derivativ
      description: Schema of an exchange traded derivativ
      allOf:
        - $ref: '#/components/schemas/FinancialInstrumentBase'
        - type: object
          properties:
            expiryDate:
              description: |
                Date on which an order, a privilege, an entitlement or an offer terminates. For an interest bearing asset, it is the
                date at which it becomes due and has to be repaid.
              $ref: '#/components/schemas/Date'
            exercisePrice:
              description: Predetermined price at which the holder of a derivative will buy or sell the underlying instrument.
              $ref: '#/components/schemas/Price'
            underlyingFinancialInstrument:
              $ref: '#/components/schemas/FinancialInstrumentBase'
    PreciousMetal:
      title: Precious Metal
      description: Schema of a precious metal instrument
      allOf:
        - $ref: '#/components/schemas/FinancialInstrumentBase'
        - type: object
          required:
            - unitType
          properties:
            unitType:
              type: string
              enum:
                - g
                - kg
                - oz
    FinancialInstrumentIdentification:
      type: object
      required:
        - identifier
        - type
      properties:
        identifier:
          type: string
          example: CH0012005267
          description: Instrument identification.
        type:
          type: string
          example: isin
          description: Type of the instrument identification.
          enum:
            - isin
            - sedol
            - cusip
            - ric
            - tickerSymbol
            - bloomberg
            - cta
            - quick
            - wertpapier
            - dutch
            - valoren
            - sicovam
            - belgian
            - common
            - cryptoCurrency
            - iso4217
            - otherProprietaryIdentification
    Date:
      title: Date
      type: string
      description: Date according to ISO 8601.
      format: date
      example: '2018-04-13'
    PreciousMetalForward:
      title: Financial instrument forward settlement agreement
      description: Schema of a financial instrument forward settlement agreement
      allOf:
        - $ref: '#/components/schemas/FinancialInstrumentBase'
        - type: object
          required:
            - unitType
            - settlementDate
          properties:
            unitType:
              type: string
              enum:
                - g
                - kg
                - oz
            settlementDate:
              $ref: '#/components/schemas/Date'
    FinancialInstrument:
      title: FinancialInstrument
      type: object
      description: Financial instrument entity.
      oneOf:
        - $ref: '#/components/schemas/FinancialInstrumentBase'
        - $ref: '#/components/schemas/FinancialInstrumentForward'
        - $ref: '#/components/schemas/ExchangeTradedDerivative'
        - $ref: '#/components/schemas/PreciousMetal'
        - $ref: '#/components/schemas/PreciousMetalForward'
      discriminator:
        propertyName: type
        mapping:
          basic: '#/components/schemas/FinancialInstrumentBase'
          forward: '#/components/schemas/FinancialInstrumentForward'
          etd: '#/components/schemas/ExchangeTradedDerivative'
          preciousMetal: '#/components/schemas/PreciousMetal'
          preciousMetalForward: '#/components/schemas/FinancialInstrumentForward'
    Leg:
      type: object
      description: Order object.
      required:
        - side
        - unitReference
        - quantity
        - baseInstrument
        - quoteInstrument
      properties:
        quantity:
          description: The total quantity of the order. The unit of this field is defined by the quantity schema.
          $ref: '#/components/schemas/Quantity'
        side:
          $ref: '#/components/schemas/OrderSide'
        unitReference:
          $ref: '#/components/schemas/UnitReference'
        positionEffect:
          $ref: '#/components/schemas/PositionEffect'
        baseInstrument:
          description: Instrument subject to sale or purchase.
          $ref: '#/components/schemas/FinancialInstrument'
        quoteInstrument:
          description: |
            Instrument (i.e. currency) which is paid resp. recieved in exchange
            for the purchase resp. sell of the baseInstrument.
          $ref: '#/components/schemas/FinancialInstrument'
        executedQuantity:
          $ref: '#/components/schemas/Quantity'
          readOnly: true
        cancelledQuantity:
          $ref: '#/components/schemas/Quantity'
          readOnly: true
    allocationCancellationReason:
      type: object
      properties:
        code:
          type: string
          description: Cancelled reason expressed as a code.
          enum:
            - accountIdentificationMissing
            - accountInvalidForOrderPlacement
            - accountTypeMissing
            - accountTypeNotMatchingAccount
            - allocationQuantityTooHigh
            - cashAccountMissing
            - cashAccountNotFound
            - insufficientBuyingPower
            - insufficientQuantityAvailable
            - invalidCurrencyForAccount
            - pretradeCheckFailed
            - safekeepingAccountMissing
            - safekeepingAccountNotFound
            - valueTooHigh
            - zeroQuantity
            - other
          example: zeroQuantity
        proprietary:
          type: string
          description: Cancelled reason expressed as a proprietary description that provides more details about the reason of the cancellation.
          example: Cancelled by client.
    ForeignExchangeRate:
      title: ForeignExchangeRate
      type: object
      description: |
        Indicates the rate of a fx transaction for one source currency unit to the target currency.
        E.g. 1GBP=xxxEUR, where the source currency is GBP and the target currency is EUR.
      required:
        - value
        - sourceCurrency
        - targetCurrency
      properties:
        value:
          type: number
          description: Current rate as decimal.
          example: 0.98
        sourceCurrency:
          $ref: '#/components/schemas/Currency'
        targetCurrency:
          $ref: '#/components/schemas/Currency'
    Amount:
      title: Amount
      type: object
      description: Amount entity.
      required:
        - value
        - currency
      properties:
        value:
          type: number
          example: 12000
          description: Signed decimal number.
        currency:
          $ref: '#/components/schemas/Currency'
        foreignExchangeRate:
          $ref: '#/components/schemas/ForeignExchangeRate'
    AccruedInterest:
      type: object
      properties:
        numberDaysAccrued:
          type: number
          format: integer
          example: 28
          description: Specifies the number of days used for calculating the accrued interest amount.
        amount:
          type: number
          description: TBD.
        currency:
          $ref: '#/components/schemas/Currency'
        foreignExchangeRate:
          $ref: '#/components/schemas/ForeignExchangeRate'
    BillingDetails:
      type: object
      properties:
        grossTradeAmount:
          description: Principal amount of a trade (price multiplied by quantity).
          $ref: '#/components/schemas/Amount'
        settlementAmount:
          description: |
            Total amount of money to be paid or received in exchange for the securities.
            The amount includes the principal with any commissions and fees or accrued interest.
          $ref: '#/components/schemas/Amount'
        accruedInterests:
          $ref: '#/components/schemas/AccruedInterest'
        stampDuty:
          $ref: '#/components/schemas/Amount'
        withholdingTax:
          $ref: '#/components/schemas/Amount'
        capitalGainTax:
          $ref: '#/components/schemas/Amount'
        financialTransactionTax:
          $ref: '#/components/schemas/Amount'
        otherTaxes:
          $ref: '#/components/schemas/Amount'
        transactionFee:
          $ref: '#/components/schemas/Amount'
        brokerageFee:
          $ref: '#/components/schemas/Amount'
        managementFee:
          $ref: '#/components/schemas/Amount'
        courtage:
          $ref: '#/components/schemas/Amount'
        custodyFee:
          $ref: '#/components/schemas/Amount'
        exchangeFee:
          $ref: '#/components/schemas/Amount'
        thirdPartyFee:
          $ref: '#/components/schemas/Amount'
        otherFee:
          $ref: '#/components/schemas/Amount'
        others:
          $ref: '#/components/schemas/Amount'
    executionAllocation:
      type: object
      description: Execution allocation
      properties:
        quantity:
          description: Executed quantity allocated to the given client.
          $ref: '#/components/schemas/Quantity'
        price:
          description: The price for the allocated quantity.
          $ref: '#/components/schemas/Price'
        executionIds:
          description: List of market executions, that contributed to the allocated quantity.
          items:
            type: string
            maxLength: 128
            description: Unambiguous identifier for the execution.
        billingDetails:
          $ref: '#/components/schemas/BillingDetails'
        transactionId:
          type: string
          maxLength: 128
          example: OTg3Ni01NDMyMQ
          description: Indicates the transaction identification for an allocated execution.
        bookingDate:
          description: Indicates the booking date for an allocated execution of the order.
          $ref: '#/components/schemas/Date'
    Allocation:
      type: object
      description: Extended details regarding the allocations including validity of the allocation and billing details.
      required:
        - id
        - orderId
        - creditAccount
        - debitAccount
        - quantity
      properties:
        id:
          type: string
          maxLength: 128
          description: Unambiguous identifier for the allocation, as assigned by the confirming party.
          example: 08ca53e9-d78e-4e8c-9d7a-5e1ec900b1a0
          readOnly: true
        orderId:
          type: string
          maxLength: 128
          description: Unambiguous identifier for the bulk order, as assigned by the confirming party.
          example: e6751a48-0819-4482-98a4-760453ba770d
          readOnly: true
        creditAccount:
          description: Account that is credited when executing the trade.
          $ref: '#/components/schemas/Account'
        debitAccount:
          description: Account that is debited when executing the trade.
          $ref: '#/components/schemas/Account'
        quantity:
          description: The requested quantity to be allocated to specific safekeeping account.
          type: number
        averagePrice:
          description: The average price for quantity that was traded.
          $ref: '#/components/schemas/Price'
          readOnly: true
        executedQuantity:
          $ref: '#/components/schemas/Quantity'
          readOnly: true
        cancelledQuantity:
          $ref: '#/components/schemas/Quantity'
          readOnly: true
        allocationCancellationReasonList:
          type: array
          items:
            $ref: '#/components/schemas/allocationCancellationReason'
          readOnly: true
        executionAllocationList:
          type: array
          items:
            $ref: '#/components/schemas/executionAllocation'
          readOnly: true
    OrderCancellationReason:
      type: object
      description: Indicates the reason, why an order is invalid/cancelled/rejected.
      properties:
        code:
          type: string
          description: Cancelled reason expressed as a code.
          enum:
            - orderNotSupported
            - orderInvalid
            - orderRejected
            - other
          example: endOfLife
        details:
          type: string
          description: Cancelled reason expressed as a proprietary description that provides more details about the reason of the cancellation.
          example: Cancelled by client
        affectedFields:
          type: array
          items:
            properties:
              property:
                type: string
                description: Pattern indication affected property
              issueDetails:
                type: string
                description: Description of problem with field
    AlgoTrade:
      type: object
      required:
        - tradingStrategy
      properties:
        tradingStrategy:
          description: Name of the Strategy (i.e. volumeWeightedAveragePrice).
          type: string
          enum:
            - volumeWeightedAveragePrice
            - timeWeightedAveragePrice
            - percentageOfVolume
            - marketOnClose
            - targetMarketOnClose
            - liquidityGrabber
            - darkOnly
            - custom
        volumeCap:
          description: |
            Participation rate under which the electronic algorithm will try to always stay.
            The participation rate is calculated by the electronic algorithm on the periods
            where it is allowed to work (respecting start/stop time).
          type: number
        targetRate:
          description: |
            Global participation rate in % that the electronic algorithm will try to achieve.
            The public size is calculated on the periods where the electronic algorithm
            is allowed to work (respecting StartTime/StopTime).
          type: number
        participateInOpening:
          description: |
            Indicates, that the electronic algorithm can participate in the opening auction.
          type: boolean
        participateInClosing:
          description: |
            Indicates, that the electronic algorithm can participate in the closing auction.
          type: boolean
        wouldPrice:
          description: |
            Indicates the price at which the client is willing to fill the entire order,
            or the percentage provided in WouldPercentage.
            WouldPrice is always associated with the values provided with "wouldPercentage" and "wouldStyle".
          type: number
        wouldPercentage:
          description: |
            "wouldPercentage" can only be selected if parameter "wouldPrice" contains a valid value.
            Parameter is always associated with "wouldPrice" and "wouldStyle".
          type: number
        wouldStyle:
          description: |
            WouldStyle can only be selected if parameter WouldPrice contains a valid value.
            Parameter is always associated with "wouldPrice" and "wouldPercentage".
          type: string
          enum:
            - allVenues
            - litOnly
            - darkOnly
        urgency:
          description: |
            Indicates the degree of urgency for execution as defined by the client.
          type: string
          enum:
            - ultraPassive
            - passive
            - neutral
            - aggressive
            - superAggressive
        minQty:
          description: |
            Sets the minimum fill size in dark venues client may want.
          type: number
        primaryOnly:
          description: TBD.
          type: boolean
        customInstruction:
          description: TBD.
          type: string
    Order:
      type: object
      description: Order object.
      required:
        - clientReference
        - executionType
        - timeInForce
      properties:
        id:
          type: string
          maxLength: 128
          description: |
            Unambiguous identifier for the bulk order,
            as assigned by the confirming party (i.e. Custodian).
          example: e6751a48-0819-4482-98a4-760453ba770d
          readOnly: true
        clientReference:
          type: string
          maxLength: 128
          example: 123-123123
          description: |
            Reference of the order (unique identification),
            as assigned by the instructing party (i.e. TPP).
        groupReference:
          type: string
          maxLength: 128
          description: Optional reference to link orders, i.e. multi-leg orders.
        orderDateTime:
          type: string
          format: date-time
          example: '2018-04-13T11:11:11Z'
          description: Date and time the order has been received. In accordance with ISO 8601.
          readOnly: true
        kind:
          type: string
          description: |
            Kind of order requested.
            - Single leg order
            - Swap leg Order
            - Multi leg order
          example: priceQuote
          enum:
            - singlelegOrder
            - swaplegOrder
            - multilegOrder
        status:
          $ref: '#/components/schemas/OrderStatus'
          readOnly: true
        bestEffortExecution:
          description: TBD
          type: boolean
          default: false
        requestedPlaceOfTrade:
          $ref: '#/components/schemas/PlaceOfTrade'
        executionType:
          type: string
          description: Type of the execution of the order.
          example: limit
          enum:
            - market
            - limit
            - stop
            - stopLimit
        limitPrice:
          description: Limit price per unit of quantity (e.g. per share)
          $ref: '#/components/schemas/Price'
        stopPrice:
          description: |
            Price per unit of quantity (e.g. per share).
            Required for executionType 'stop' or 'stopLimit'.
          $ref: '#/components/schemas/Price'
        timeInForce:
          type: string
          description: Specifies how long the order remains in effect.
          example: day
          enum:
            - day
            - goodTillCancel
            - atTheOpening
            - immediateOrCancel
            - fillOrKill
            - goodTillCrossing
            - goodTillDate
            - atTheClose
            - goodThroughCrossing
            - atCrossing
            - goodForTime
            - goodForAuction
            - goodForMonth
        expiryDateTime:
          $ref: '#/components/schemas/DateTime'
        exposureDuration:
          description: |
            This is the time in seconds of a 'goodForTime' TimeInForce.
            Positive integer value which represents the time is seconds in which the new order
            remains active in the market before it is automatically cancelled (e.g. expired).
          type: integer
          example: 86400
        quoteId:
          description: Unambiguous identifier for the quote that was provided by the confirming party.
          type: string
          maxLength: 128
          example: 6dca5123-e370-4272-8ef4-68d421f52f6e
        legList:
          type: array
          description: |
            List of single components of a multi-part order.
            Note that:
            - A single-leg order contains exactly 1 item in the array
            - A swap (fx, interest rate, etc) must contain exactly 2 items.
              The first item refers to the near leg and the second to the far leg.
            - A multi-leg order consist of the according amount of involved instruments.
          items:
            $ref: '#/components/schemas/Leg'
        allocationList:
          type: array
          items:
            $ref: '#/components/schemas/Allocation'
        orderCancellationReasonList:
          type: array
          items:
            $ref: '#/components/schemas/OrderCancellationReason'
          readOnly: true
        orderPlacer:
          description: |
            The entity physically transmitting the order to the execution venue.
            This role is often fulfilled by:
              - Investment firms or brokers executing trades on behalf of clients.
              - Systematic internalisers or trading venues handling order transmission.
              - In some cases, the order placer may also be the decision maker if no third-party authorization exists.
          type: string
          maxLength: 128
        decisionMaker:
          description: |
            The party legally authorized to make investment decisions on behalf of a client.
            This typically includes:
            - Individuals or entities acting under a power of attorney (e.g., attorneys managing accounts).
            - Discretionary investment managers executing trades without prior client approval.
            - In cases like funds, the fund manager is generally considered the decision maker.
          type: string
          maxLength: 128
        algoTradeInstruction:
          $ref: '#/components/schemas/AlgoTrade'
        additionalDetails:
          type: string
          maxLength: 512
          description: Provides additional details on the order which can not be included within the structured fields of the message.
          example: at pre Market and today
    Execution:
      type: object
      description: Entity describing a market execution
      properties:
        id:
          type: string
          maxLength: 128
          description: Unambiguous identifier for the execution.
          example: b7469157-02ea-4938-a485-bc3d9ff43f4d
          readOnly: true
        orderId:
          type: string
          maxLength: 128
          description: Unambiguous identifier for the order, as assigned by the confirming party.
          example: e6751a48-0819-4482-98a4-760453ba770d
          readOnly: true
        reference:
          type: string
          description: |
            Identification or reference of the executed trade.
          example: MTIzLTk4ODc3NTY=
        quantity:
          description: Total quantity (e.g. number of shares) executed.
          type: number
        executionDateTime:
          description: DateTime of the single execution.
          $ref: '#/components/schemas/DateTime'
        price:
          description: The average price for quantity that has traded.
          $ref: '#/components/schemas/Price'
        placeOfTrade:
          $ref: '#/components/schemas/PlaceOfTrade'
    QuoteLeg:
      type: object
      required:
        - side
        - quantity
        - baseInstrument
        - quoteInstrument
      properties:
        side:
          $ref: '#/components/schemas/OrderSide'
        quantity:
          $ref: '#/components/schemas/Quantity'
        baseInstrument:
          description: Instrument subject to intended sale or purchase.
          $ref: '#/components/schemas/FinancialInstrument'
        quoteInstrument:
          description: |
            Instrument (i.e. currency) for which the quote is requested in exchange
            for the purchase resp. sell of the baseInstrument.
          $ref: '#/components/schemas/FinancialInstrument'
        priceType:
          type: string
          description: Indicates whether the price amount is depicted as actual currency amount per unit or as percentage.
          enum:
            - actual
            - percentage
          readOnly: true
        price:
          type: number
          description: |
            - priceType 'actual': Amount offered in units of quoteInstrument per unit baseInstrument.
            - priceType 'percentage': Percentage of nominal value of the baseInstrument offered.
          readOnly: true
    Quote:
      type: object
      required:
        - type
        - kind
        - legList
      properties:
        id:
          type: string
          example: 6dca5123-e370-4272-8ef4-68d421f52f6e
          description: Unique identifier of given quote
          readOnly: true
        type:
          type: string
          description: |
            Type of quote requested.
            - An indicative quote is used to inform a counterparty of a market. An indicative quote does not result directly in a trade.
            - A tradeable quote is submitted to a market and will result directly in a trade against other orders and quotes in a market.
          enum:
            - indicative
            - tradable
        kind:
          type: string
          description: |
            Kind of quote requested.
          example: singlelegQuote
          enum:
            - singlelegQuote
            - swaplegQuote
            - multilegQuote
        expiryDateTime:
          description: DateTime when quote expires.
          $ref: '#/components/schemas/DateTime'
          readOnly: true
        customerIds:
          description: List of unique and unambiguous identification (i.e. UUID) used by the bank for the customer.
          type: array
          items:
            type: string
            maxLength: 128
            example: 6dca5123-e370-4272-8ef4-68d421f52f6e
        legList:
          items:
            $ref: '#/components/schemas/QuoteLeg'
    EventSubscription:
      type: object
      required:
        - eventTypes
      properties:
        id:
          type: string
          readOnly: true
          maxLength: 36
          example: 7c5f40fc-1b29-4263-a2dd-e127a22a947f
        eventTypes:
          type: array
          items:
            type: string
            enum:
              - Order:Created
              - Order:Partially_Filled
          example:
            - Order:Created
            - Order:Partially_Filled
        callbackUrl:
          type: string
          example: https://ttp.com/API/notifications/order-placement/
          description: Not to be used in bLink
  responses:
    '400':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: |
        Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error
        as malformed request syntax.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '401':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '403':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Forbidden - The server understood the request but refuses to authorize it.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '404':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: |
        Not Found - The origin server did not find a current representation for the target resource
        or is not willing to disclose that one exists.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '405':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: |
        Method Not Allowed - The method received in the request-line is known by the origin server
        but not supported by the target resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '409':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Conflict - The request conflicts with the current state of the target resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '429':
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      description: |
        When an SU sends too many lookup or polling requests in a given amount of time the SP shall 
        respond with HTTP 429 (Too many requests). This response may contain a Retry-After header 
        indicating how long the SU must wait before making a new request. (see https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/TOO_MANY_REQUESTS
            title: resource not found
            detail: ...
            instance: path/to/corresponding/resource
    '500':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '501':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Not Implemented - The server does not support the functionality required to fulfill the request.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '503':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '504':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Gateway Timeout - The server did not get a response in time that it needed in order to complete the request.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
