openapi: 3.0.0
info:
  version: 3.0.0-draft
  title: Order Placement API
  description: This API is used to place orders and check on the order status.
  contact:
    email: openwealth@synpulse.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - description: Your server url
    url: https://www.openwealth.ch
security: []
tags:
  - name: account
    description: Account operations.
  - name: order
    description: Order operations.
  - name: execution
    description: Execution operations.
  - name: order-status
    description: Order status operations.
  - name: event-subscription
    description: Event notification subscription operations.
  - name: event-notification
    description: Event notification operations.
externalDocs:
  description: Find out more about OpenWealth API specifications.
  url: https://openwealth.ch
paths:
  /accounts:
    get:
      tags:
        - account
      summary: Returns list of accounts the requestor has access to
      description: |
        Returns list of accounts the requestor has access to Paging is done based on the accountaccess
        object, i.e. if limit is set to 1, then 1 account object will be returned per page.
      operationId: getAccounts
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Returns list of accounts the requestor has access to.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/account'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders:
    post:
      tags:
        - order
      summary: Posts a new order
      description: Posts a new order.
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/correlation_in_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '202':
          description: Order accepted for further processing.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
    get:
      tags:
        - order
      summary: Returns a list of open orders
      description: |
        Returns all open orders to which the user of the API has access to. Paging is done based on the order object,
        i.e. if limit is set to 1, then 1 order will be returned per page.
      operationId: getOrders
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Order list.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-nextCursor:
              $ref: '#/components/headers/X-Next-Cursor'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}:
    get:
      tags:
        - order
      summary: Returns a single order
      description: Returns a specific security order.
      operationId: getOrderById
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Receive a specific order with the corresponding allocations and status.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              examples:
                Order1:
                  value:
                    id: order-1
                    clientReference: 123-123123
                    orderDateTime: '2018-04-13T11:11:11Z'
                    status:
                      status: executed
                      statusDateTime: '2018-04-13T16:00:00Z'
                    side: buy
                    orderQuantity:
                      type: unit
                      value: 5
                    displayQuantity:
                      type: unit
                      value: 5
                    numberOfAllocations: 2
                    financialInstrument:
                      identification:
                        identifier: CH0012005267
                        type: isin
                    currency: CHF
                    executionType: market
                    timeInForce: goodTillDate
                    expiryDateTime: '2018-04-13T18:00:00Z'
                    allocationList:
                      - id: allocation-1
                        orderId: order-1
                        debitAccount:
                          id: cash-acc-1
                          type: cashAccount
                          number: 1234-1234
                          iban: CH1234567891234
                        creditAccount:
                          id: safe-1
                          type: safekeepingAccount
                          number: 1234-12
                        requestedQuantity:
                          type: unit
                          value: 3
                        remainingQuantity:
                          type: unit
                          value: 0
                        price:
                          type: actual
                          value: 10.8
                          currency: CHF
                        executionAllocationList:
                          - allocatedQuantity:
                              type: unit
                              value: 3
                            price:
                              type: actual
                              value: 10.8
                              currency: CHF
                            executionIds:
                              - exec-1
                              - exec-2
                              - exec-3
                            billingDetails:
                              grossTradeAmount:
                                value: 32.4
                                currency: CHF
                              grossSettlementAmount:
                                value: 32.4
                                currency: CHF
                              netSettlementAmount:
                                value: 35.4
                                currency: CHF
                              netBillingAmount:
                                value: 35.4
                                currency: CHF
                              stampDuty:
                                value: 1
                                currency: CHF
                              brokerageFee:
                                value: 1
                                currency: CHF
                              exchangeFee:
                                value: 1
                                currency: CHF
                            transactionId: trx-1
                      - id: allocation-2
                        orderId: order-1
                        debitAccount:
                          id: cash-acc-2
                          type: cashAccount
                          number: 1234-4321
                          iban: CH1234567894321
                        creditAccount:
                          id: safe-2
                          type: safekeepingAccount
                          number: 1234-42
                        requestedQuantity:
                          type: unit
                          value: 2
                        remainingQuantity:
                          type: unit
                          value: 0
                        averagePrice:
                          type: actual
                          value: 10.8
                          currency: CHF
                        executionAllocationList:
                          - allocatedQuantity:
                              type: unit
                              value: 2
                            price:
                              type: actual
                              value: 10.8
                              currency: CHF
                            executionIds:
                              - exec-1
                              - exec-2
                              - exec-3
                            billingDetails:
                              grossTradeAmount:
                                value: 21.6
                                currency: CHF
                              grossSettlementAmount:
                                value: 21.6
                                currency: CHF
                              netSettlementAmount:
                                value: 24.6
                                currency: CHF
                              netBillingAmount:
                                value: 24.6
                                currency: CHF
                              stampDuty:
                                value: 1
                                currency: CHF
                              brokerageFee:
                                value: 1
                                currency: CHF
                              exchangeFee:
                                value: 1
                                currency: CHF
                            transactionId: trx-2
                    executedQuantity:
                      type: unit
                      value: 5
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
    delete:
      tags:
        - order
      summary: Cancellation of a specific order
      description: Places the cancellation request for a specific order.
      operationId: deleteOrderById
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '202':
          description: Order cancellation received for further processing.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}/executions:
    get:
      tags:
        - execution
      summary: Returns a list of executions by order
      description: |
        Returns all executions by order ID
      operationId: getOrderEceutions
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Execution list.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-nextCursor:
              $ref: '#/components/headers/X-Next-Cursor'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Execution'
              examples:
                ExecutionsOrder1:
                  value:
                    - id: exec-1
                      orderId: order-1
                      reference: exec-1
                      quantity: 2
                      executionDateTime: '2018-04-13T14:00:00Z'
                      price:
                        type: actual
                        value: 10
                        currency: CHF
                      placeOfTrade:
                        marketIdentificationCode: XSWX
                    - id: exec-2
                      orderId: order-1
                      reference: exec-2
                      quantity: 2
                      executionDateTime: '2018-04-13T15:00:00Z'
                      price:
                        type: actual
                        value: 11
                        currency: CHF
                      placeOfTrade:
                        marketIdentificationCode: XBRN
                    - id: exec-3
                      orderId: order-1
                      reference: exec-3
                      quantity: 1
                      executionDateTime: '2018-04-13T16:00:00Z'
                      price:
                        type: actual
                        value: 12
                        currency: CHF
                      placeOfTrade:
                        marketIdentificationCode: XFRA
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}/executions/{executionId}:
    get:
      tags:
        - execution
      summary: Returns a single execution
      description: Returns a specific execution by order ID and execution ID.
      operationId: getExecutionById
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/executionId'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Receive a specific order with the corresponding allocations and status.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              examples:
                Order1:
                  value:
                    id: order-1
                    clientReference: 123-123123
                    orderDateTime: '2018-04-13T11:11:11Z'
                    status:
                      status: executed
                      statusDateTime: '2018-04-13T16:00:00Z'
                    side: buy
                    orderQuantity:
                      type: unit
                      value: 5
                    displayQuantity:
                      type: unit
                      value: 5
                    numberOfAllocations: 2
                    financialInstrument:
                      identification:
                        identifier: CH0012005267
                        type: isin
                    currency: CHF
                    executionType: market
                    timeInForce: goodTillDate
                    expiryDateTime: '2018-04-13T18:00:00Z'
                    allocationList:
                      - id: allocation-1
                        orderId: order-1
                        debitAccount:
                          id: cash-acc-1
                          type: cashAccount
                          number: 1234-1234
                          iban: CH1234567891234
                        creditAccount:
                          id: safe-1
                          type: safekeepingAccount
                          number: 1234-12
                        requestedQuantity:
                          type: unit
                          value: 3
                        remainingQuantity:
                          type: unit
                          value: 0
                        price:
                          type: actual
                          value: 10.8
                          currency: CHF
                        executionAllocationList:
                          - allocatedQuantity:
                              type: unit
                              value: 3
                            price:
                              type: actual
                              value: 10.8
                              currency: CHF
                            executionIds:
                              - exec-1
                              - exec-2
                              - exec-3
                            billingDetails:
                              grossTradeAmount:
                                value: 32.4
                                currency: CHF
                              grossSettlementAmount:
                                value: 32.4
                                currency: CHF
                              netSettlementAmount:
                                value: 35.4
                                currency: CHF
                              netBillingAmount:
                                value: 35.4
                                currency: CHF
                              stampDuty:
                                value: 1
                                currency: CHF
                              brokerageFee:
                                value: 1
                                currency: CHF
                              exchangeFee:
                                value: 1
                                currency: CHF
                            transactionId: trx-1
                      - id: allocation-2
                        orderId: order-1
                        debitAccount:
                          id: cash-acc-2
                          type: cashAccount
                          number: 1234-4321
                          iban: CH1234567894321
                        creditAccount:
                          id: safe-2
                          type: safekeepingAccount
                          number: 1234-42
                        requestedQuantity:
                          type: unit
                          value: 2
                        remainingQuantity:
                          type: unit
                          value: 0
                        averagePrice:
                          type: actual
                          value: 10.8
                          currency: CHF
                        executionAllocationList:
                          - allocatedQuantity:
                              type: unit
                              value: 2
                            price:
                              type: actual
                              value: 10.8
                              currency: CHF
                            executionIds:
                              - exec-1
                              - exec-2
                              - exec-3
                            billingDetails:
                              grossTradeAmount:
                                value: 21.6
                                currency: CHF
                              grossSettlementAmount:
                                value: 21.6
                                currency: CHF
                              netSettlementAmount:
                                value: 24.6
                                currency: CHF
                              netBillingAmount:
                                value: 24.6
                                currency: CHF
                              stampDuty:
                                value: 1
                                currency: CHF
                              brokerageFee:
                                value: 1
                                currency: CHF
                              exchangeFee:
                                value: 1
                                currency: CHF
                            transactionId: trx-2
                    executedQuantity:
                      type: unit
                      value: 5
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /orders/{orderId}/statuses:
    get:
      tags:
        - order-status
      summary: Returns list of accounts the requestor has access to
      description: |
        Returns list of order statuses for a given order. Paging is done based on the order status
        object, i.e. if limit is set to 1, then 1 order status object will be returned per page.
      operationId: getOrderStatuses
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Returns list of accounts the requestor has access to.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /event-subscriptions:
    post:
      tags:
        - event-subscription
      summary: Subscribe to Events
      description: Allows TPP to subscribe to specific events for the API.
      operationId: postEventSubscription
      parameters:
        - $ref: '#/components/parameters/correlation_in_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventSubscriptionRequest'
      responses:
        '201':
          description: Subscription created.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventSubscription'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
    get:
      tags:
        - event-subscription
      summary: View Subscriptions
      description: Allows TPP to view the event subscriptions.
      operationId: getEventSubscriptions
      parameters:
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Event Subscription read.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eventSubscription'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
  /event-subscriptions/{eventSubscriptionId}:
    get:
      tags:
        - event-subscription
      summary: View Subscription
      description: Allows TPP to view the event subscription.
      operationId: getEventSubscriptionByEventSubscriptionId
      parameters:
        - $ref: '#/components/parameters/path_eventSubscriptionId'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Event Subscription read.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventSubscription'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
    put:
      tags:
        - event-subscription
      summary: Change event subscription
      description: Changes event subscription.
      operationId: changeEventSubscriptionByEventSubscriptionId
      parameters:
        - $ref: '#/components/parameters/path_eventSubscriptionId'
        - $ref: '#/components/parameters/correlation_in_header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventSubscription'
      responses:
        '200':
          description: Event subscription changed
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventSubscription'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
    delete:
      tags:
        - event-subscription
      summary: Delete event subscription
      description: Deletes event subscriptions.
      operationId: deleteEventSubscriptionsByEventSubscriptionId
      parameters:
        - $ref: '#/components/parameters/path_eventSubscriptionId'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '204':
          description: Event subscription deleted.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
  /event-subscriptions/{eventSubscriptionId}/event-notifications:
    get:
      tags:
        - event-notification
      summary: Get event notifications
      description: Get aggregated event-notification list.
      operationId: geteventNotificationsByEventSubscriptionId
      parameters:
        - $ref: '#/components/parameters/path_eventSubscriptionId'
        - $ref: '#/components/parameters/fromEventDateTime'
        - $ref: '#/components/parameters/afterEventId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: aggregated event-notification list.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/notificationOrderPlacement'
        '404':
          $ref: '#/components/responses/404'
components:
  parameters:
    limit:
      in: query
      name: limit
      description: Maximum number of items to return.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
    cursor:
      in: query
      name: cursor
      required: false
      schema:
        type: string
      description: An opaque string value used for pagination.
    correlation_in_header:
      in: header
      name: X-Correlation-ID
      required: true
      schema:
        type: string
      description: Unique ID (defined by the caller) which will be reflected back in the response.
    orderId:
      in: path
      name: orderId
      required: true
      schema:
        type: string
        maxLength: 20
      description: The orderId as given py the API provider.
    executionId:
      in: path
      name: executionId
      required: true
      schema:
        type: string
        maxLength: 20
      description: The executionId as given py the API provider.
    path_eventSubscriptionId:
      in: path
      name: eventSubscriptionId
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 40
      description: |
        Unique identification as assigned by the API exposing party to uniquely
        identify the callback URL resource.
    fromEventDateTime:
      in: query
      name: fromEventDate
      schema:
        type: string
        format: date-time
      description: Date from which events are considered.
      example: 2022-10-26T07:58:30.996+0100
    afterEventId:
      in: query
      name: afterEventId
      schema:
        $ref: '#/components/schemas/eventSubscriptionId'
      description: Event Id after which events are considered.
  headers:
    X-Correlation-ID:
      description: Client defined ID from request to correlates HTTP requests between a client and server.
      schema:
        type: string
        example: f058ebd6-02f7-4d3f-942e-904344e8cde5
    Problem-Content-Type:
      description: application/problem+json; charset=utf-8 according to RFC7807.
      schema:
        type: string
        example: application/problem+json
    Content-Language:
      description: Response language - always en.
      schema:
        type: string
        example: en
    X-Correlation-Id:
      description: Client defined ID from request to correlates HTTP requests between a client and server.
      schema:
        type: string
        example: f058ebd6-02f7-4d3f-942e-904344e8cde5
    X-Next-Cursor:
      description: An opaque string value, or an empty string if there are no more results.
      required: false
      schema:
        type: string
  schemas:
    account:
      type: object
      properties:
        id:
          type: string
          maxLength: 35
          example: a8fcbd1b-d5b8-44ea-9862-0ab24318e7f1
          description: Unique and unambiguous identification for the account. The IBAN should NOT be the account identifier.
        type:
          type: string
          description: Indicates the type of the account.
          example: safekeepingAccount
          enum:
            - cashAccount
            - safekeepingAccount
            - other
        iban:
          type: string
          description: Contains the accounts International Banking Account Number (IBAN) for an account if available.
          maxLength: 34
          example: CH1234567891234
        number:
          type: string
          description: Contains the accounts custody proprietary account number for an account if available.
          maxLength: 70
          example: 123-1234-234
    CommonErrorType:
      title: Common Error Type
      description: Error Types for CommonErrorResponse.
      type: string
      enum:
        - /problems/INVALID_PAYLOAD
        - /problems/MALFORMED_PAYLOAD
        - /problems/INVALID_TOKEN
        - /problems/EXPIRED_TOKEN
        - /problems/INSUFFICIENT_PRIVILEGES
        - /problems/NO_ACCESS_TO_RESOURCE
        - /problems/RESOURCE_DOES_NOT_EXIST
        - /problems/RESOURCE_NOT_READY
        - /problems/RESOURCE_TOO_LARGE
        - /problems/WRONG_METHOD
        - /problems/OPERATION_NOT_ALLOWED
        - /problems/TECHNICAL_ERROR
        - /problems/NOT_IMPLEMENTED
        - /problems/SERVICE_UNAVAILABLE
      example: /problems/TECHNICAL_ERROR
    CommonErrorResponse:
      title: CommonErrorResponse
      type: object
      description: Common error response.
      properties:
        type:
          $ref: '#/components/schemas/CommonErrorType'
        title:
          type: string
          description: Title of the error response.
          example: This is the general problem description
        detail:
          type: string
          description: Detailed description of the error response.
          example: Detailed problem description with respect to the current request
        instance:
          type: string
          description: Entity instance that threw the error.
          example: path/to/corresponding/resource
    DateTime:
      title: DateTime
      type: string
      description: DateTime according to ISO 8601.
      format: date-time
      example: '2018-04-13T16:00:00Z'
    OrderStatus:
      type: object
      description: Provides the status of the order was at a certain time in its lifecycle.
      properties:
        status:
          type: string
          description: Shows in which stage of its life cycle an order is.
          enum:
            - acknowledged
            - accepted
            - customerRelease
            - placed
            - partiallyFilled
            - filled
            - executed
            - cancelled
            - partiallyCancelled
            - marketCancelled
            - pendingCancel
            - rejected
            - partiallyRejected
            - marketRejected
            - expired
            - partiallyExpired
            - marketExpired
          example: partiallyFilled
        statusDateTime:
          description: |
            Indicates the date and time at which the status has been updated into the status indicated under "status" (UTC Timestamp). In accordance
            with ISO 8601.
          $ref: '#/components/schemas/DateTime'
    Quantity:
      title: Quantity
      type: object
      description: Quantity entity.
      required:
        - type
        - value
      properties:
        type:
          type: string
          description: Specifies the type of the amount.
          example: unit
          enum:
            - unit
            - faceAmount
            - amortisedValue
            - digitalTokenUnit
        value:
          type: number
          example: 12000
          description: Signed decimal number.
    FinancialInstrument:
      type: object
      required:
        - identification
      properties:
        identification:
          type: object
          required:
            - identification
            - type
          properties:
            identifier:
              type: string
              example: CH0012005267
              description: Instrument identification.
            type:
              type: string
              example: isin
              description: Type of the instrument identification.
              enum:
                - isin
                - sedol
                - cusip
                - ric
                - tickerSymbol
                - bloomberg
                - cta
                - quick
                - wertpapier
                - dutch
                - valoren
                - sicovam
                - belgian
                - common
                - otherProprietaryIdentification
    PlaceOfTrade:
      type: object
      description: Market in which a trade transaction is to be or has been executed.
      properties:
        marketIdentificationCode:
          type: string
          maxLength: 4
          description: |
            Market Identifier Code. Identification of a financial market, as stipulated in the norm ISOMarket Identifier Code.
            Identification of a financial market, as stipulated in the norm ISO 10383 "Codes for exchanges and market identifications".
          example: XSWX
        marketDescription:
          type: string
          description: Description of the market when no Market Identification Code is available.
          example: OTC
    Currency:
      title: Currency
      type: string
      description: ISO 4217 code.
      pattern: ^[A-Z]{3}$
      example: CHF
    Price:
      type: object
      description: Price entity.
      required:
        - type
        - value
      properties:
        type:
          type: string
          description: Indicates whether the price amount is depicted as actual currency amount per unit or as percentage.
          example: percentage
          enum:
            - actual
            - percentage
        value:
          type: number
          example: 100.23
          description: Signed decimal number.
        currency:
          $ref: '#/components/schemas/Currency'
    Account:
      type: object
      properties:
        id:
          type: string
          maxLength: 35
          example: a8fcbd1b-d5b8-44ea-9862-0ab24318e7f1
          description: Unique and unambiguous identification for the account. The IBAN should NOT be the account identifier.
        type:
          type: string
          description: Indicates the type of the account.
          example: safekeepingAccount
          enum:
            - cashAccount
            - safekeepingAccount
            - other
        iban:
          type: string
          description: Contains the accounts International Banking Account Number (IBAN) for an account if available.
          maxLength: 34
          example: CH1234567891234
        number:
          type: string
          description: Contains the accounts custody proprietary account number for an account if available.
          maxLength: 70
          example: 123-1234-234
    allocationCancellationReason:
      type: object
      properties:
        code:
          type: string
          description: Cancelled reason expressed as a code.
          enum:
            - accountIdentificationMissing
            - accountInvalidForOrderPlacement
            - accountTypeMissing
            - accountTypeNotMatchingAccount
            - allocationQuantityTooHigh
            - cashAccountMissing
            - cashAccountNotFound
            - insufficientBuyingPower
            - insufficientQuantityAvailable
            - invalidCurrencyForAccount
            - pretradeCheckFailed
            - safekeepingAccountMissing
            - safekeepingAccountNotFound
            - tooManyCashAccountsIndicated
            - tooManySafekeepingAccounts
            - valueTooHigh
            - zeroQuantity
            - other
          example: zeroQuantity
        proprietary:
          type: string
          description: Cancelled reason expressed as a proprietary description that provides more details about the reason of the cancellation.
          example: Cancelled by client.
    ForeignExchangeRate:
      title: ForeignExchangeRate
      type: object
      description: An exchange rate is a rate at which one currency will be exchanged for another currency.
      required:
        - value
        - sourceCurrency
        - targetCurrency
      properties:
        value:
          type: number
          description: Current rate as decimal.
          example: 0.98
        sourceCurrency:
          $ref: '#/components/schemas/Currency'
        targetCurrency:
          $ref: '#/components/schemas/Currency'
    Amount:
      title: Amount
      type: object
      description: Amount entity.
      required:
        - type
        - value
      properties:
        value:
          type: number
          example: 12000
          description: Signed decimal number.
        currency:
          $ref: '#/components/schemas/Currency'
        foreignExchangeRate:
          $ref: '#/components/schemas/ForeignExchangeRate'
    AccruedInterest:
      type: object
      properties:
        numberDaysAccrued:
          type: number
          format: integer
          example: 28
          description: Specifies the number of days used for calculating the accrued interest amount.
        amount:
          type: number
          description: TBD.
        currency:
          $ref: '#/components/schemas/Currency'
        foreignExchangeRate:
          $ref: '#/components/schemas/ForeignExchangeRate'
    BillingDetails:
      type: object
      properties:
        grossTradeAmount:
          $ref: '#/components/schemas/Amount'
        grossSettlementAmount:
          $ref: '#/components/schemas/Amount'
        netSettlementAmount:
          $ref: '#/components/schemas/Amount'
        netBillingAmount:
          $ref: '#/components/schemas/Amount'
        accruedInterests:
          $ref: '#/components/schemas/AccruedInterest'
        stampDuty:
          $ref: '#/components/schemas/Amount'
        withholdingTax:
          $ref: '#/components/schemas/Amount'
        capitalGainTax:
          $ref: '#/components/schemas/Amount'
        financialTransactionTax:
          $ref: '#/components/schemas/Amount'
        otherTaxes:
          $ref: '#/components/schemas/Amount'
        transactionFee:
          $ref: '#/components/schemas/Amount'
        brokerageFee:
          $ref: '#/components/schemas/Amount'
        managementFee:
          $ref: '#/components/schemas/Amount'
        courtage:
          $ref: '#/components/schemas/Amount'
        custodyFee:
          $ref: '#/components/schemas/Amount'
        exchangeFee:
          $ref: '#/components/schemas/Amount'
        thirdPartyFee:
          $ref: '#/components/schemas/Amount'
        otherFee:
          $ref: '#/components/schemas/Amount'
        others:
          $ref: '#/components/schemas/Amount'
    executionAllocation:
      type: object
      description: Execution allocation
      properties:
        allocatedQuantity:
          $ref: '#/components/schemas/Quantity'
        price:
          description: The price for the allocated quantity.
          $ref: '#/components/schemas/Price'
        executionIds:
          description: List of market executions, that contributed to the allocated quantity.
          items:
            type: string
            description: Unambiguous identifier for the execution.
        billingDetails:
          $ref: '#/components/schemas/BillingDetails'
        transactionId:
          type: string
          maxLength: 128
          example: OTg3Ni01NDMyMQ
          description: Indicates the transaction identification for an allocated execution.
    Allocation:
      type: object
      description: Extended details regarding the allocations including validity of the allocation and billing details.
      required:
        - id
        - orderId
        - cashAccount
        - safekeepingAccount
        - requestedQuantity
      properties:
        id:
          type: string
          description: Unambiguous identifier for the allocation, as assigned by the confirming party.
          example: 08ca53e9-d78e-4e8c-9d7a-5e1ec900b1a0
          readOnly: true
        orderId:
          type: string
          description: Unambiguous identifier for the bulk order, as assigned by the confirming party.
          example: e6751a48-0819-4482-98a4-760453ba770d
          readOnly: true
        creditAccount:
          description: Account that is credited when executing the trade.
          $ref: '#/components/schemas/Account'
        debitAccount:
          description: Account that is debited when executing the trade.
          $ref: '#/components/schemas/Account'
        requestedQuantity:
          description: Quantity to be allocated to specific safekeeping account.
          $ref: '#/components/schemas/Quantity'
        remainingQuantity:
          description: |
            Quantity open for further execution.
            If the status is cancelled, expired, or rejected (in which case the order is no longer active)
            then remainingQuantity could be 0, otherwise remainingQuantity = orderQuantity - executedQuantity.
          $ref: '#/components/schemas/Quantity'
          readOnly: true
        averagePrice:
          description: The average price for quantity that was traded.
          $ref: '#/components/schemas/Price'
          readOnly: true
        allocationCancellationReasonList:
          type: array
          items:
            $ref: '#/components/schemas/allocationCancellationReason'
          readOnly: true
        executionAllocationList:
          type: array
          items:
            $ref: '#/components/schemas/executionAllocation'
          readOnly: true
    OrderCancellationReason:
      type: object
      description: Indicates the reason, why an order is invalid/cancelled/rejected.
      properties:
        code:
          type: string
          description: Cancelled reason expressed as a code.
          enum:
            - allocationInvalid
            - cancelledByHub
            - cancelledByInstructingParty
            - cancelledByOther
            - cannotContainMarketIdentificationAndMarketDescription
            - currencyNotSupportedForFinancialInstrument
            - displayQuantityNotImplemented
            - endOfLife
            - executionTypeInconsequential
            - executionTypeNotSupported
            - expiryDateTimeInThePast
            - expiryDateTimeMissing
            - expiryDateTimeNotAllowed
            - financialInstrumentIdentificationNotUnique
            - financialInstrumentIdentificationTypeNotSupported
            - financialInstrumentNotAllowedViaInterface
            - financialInstrumentNotFound
            - financialInstrumentNotTradedOnMarket
            - icebergOrderTooLarge
            - invalidPrices
            - limitPriceMissingForExecutionType
            - limitPriceNotAllowedForExecutionType
            - marketCurrentlyBlockedForTrading
            - marketQuoteNotAvailableForProduct
            - maximumNumberOfAllocationsExceeded
            - numberOfAllocationsDeviateFromAllocationsProvided
            - numberOfAllocationsEmpty
            - numberOfAllocationsZero
            - orderQuantityDeviatesFromSumOfAllocationQuantities
            - orderQuantityTooHigh
            - orderQuantityTooSmall
            - orderQuantityTypeNotImplemented
            - orderQuantityTypeWrong
            - orderTypeNotSupportedByMarket
            - placeOfTradeNotImplemented
            - placeOfTradeNotSupported
            - productExpired
            - selectedTimeInForceNotImplemented
            - stopPriceMissingForExecutionType
            - stopPriceNotAllowedForExecutionType
            - timeInForceAndExpiryDateInconsistent
            - valueTooHigh
            - wrongDenomination
            - other
          example: endOfLife
        proprietary:
          type: string
          description: Cancelled reason expressed as a proprietary description that provides more details about the reason of the cancellation.
          example: Cancelled by client
    Order:
      required:
        - clientReference
        - side
        - orderQuantity
        - financialInstrument
        - currency
        - executionType
        - timeInForce
        - numberOfAllocations
      type: object
      description: Order object.
      properties:
        id:
          type: string
          description: Unambiguous identifier for the bulk order, as assigned by the confirming party.
          example: e6751a48-0819-4482-98a4-760453ba770d
          readOnly: true
        clientReference:
          type: string
          example: 123-123123
          description: Reference of the order, as assigned by the instructing party.
          maxLength: 20
        orderDateTime:
          type: string
          format: date-time
          example: '2018-04-13T11:11:11Z'
          description: Date and time the order has been received. In accordance with ISO 8601.
          readOnly: true
        status:
          $ref: '#/components/schemas/OrderStatus'
          readOnly: true
        side:
          type: string
          description: Side taken by a party on an order.
          example: buy
          enum:
            - buy
            - sell
        orderQuantity:
          description: Ordered quantity.
          $ref: '#/components/schemas/Quantity'
        displayQuantity:
          $ref: '#/components/schemas/Quantity'
        numberOfAllocations:
          type: number
          format: integer
          example: 5
          description: Indicates number of orders to be combined for average pricing and allocation.
        financialInstrument:
          $ref: '#/components/schemas/FinancialInstrument'
        requestedPlaceOfTrade:
          $ref: '#/components/schemas/PlaceOfTrade'
        currency:
          $ref: '#/components/schemas/Currency'
        executionType:
          type: string
          description: Type of the execution of the order.
          example: limit
          enum:
            - market
            - limit
            - stop
            - stopLimit
        limitPrice:
          description: Limit price per unit of quantity (e.g. per share)
          $ref: '#/components/schemas/Price'
        stopPrice:
          description: Stop price per unit of quantity (e.g. per share)
          $ref: '#/components/schemas/Price'
        timeInForce:
          type: string
          description: Specifies how long the order remains in effect.
          example: day
          enum:
            - day
            - goodTillCancel
            - atTheOpening
            - immediateOrCancel
            - fillOrKill
            - goodTillCrossing
            - goodTillDate
            - atTheClose
            - goodThroughCrossing
            - atCrossing
            - goodForTime
            - goodForAuction
            - goodForMonth
        expiryDateTime:
          $ref: '#/components/schemas/DateTime'
        allocationList:
          type: array
          items:
            $ref: '#/components/schemas/Allocation'
        orderCancellationReasonList:
          type: array
          items:
            $ref: '#/components/schemas/OrderCancellationReason'
          readOnly: true
        executedQuantity:
          $ref: '#/components/schemas/Quantity'
          readOnly: true
    order:
      required:
        - clientReference
        - side
        - orderQuantity
        - financialInstrument
        - currency
        - executionType
        - timeInForce
        - numberOfAllocations
      type: object
      description: Order object.
      properties:
        id:
          type: string
          description: Unambiguous identifier for the bulk order, as assigned by the confirming party.
          example: e6751a48-0819-4482-98a4-760453ba770d
          readOnly: true
        clientReference:
          type: string
          example: 123-123123
          description: Reference of the order, as assigned by the instructing party.
          maxLength: 20
        orderDateTime:
          type: string
          format: date-time
          example: '2018-04-13T11:11:11Z'
          description: Date and time the order has been received. In accordance with ISO 8601.
          readOnly: true
        status:
          $ref: '#/components/schemas/OrderStatus'
          readOnly: true
        side:
          type: string
          description: Side taken by a party on an order.
          example: buy
          enum:
            - buy
            - sell
        orderQuantity:
          description: Ordered quantity.
          $ref: '#/components/schemas/Quantity'
        displayQuantity:
          $ref: '#/components/schemas/Quantity'
        numberOfAllocations:
          type: number
          format: integer
          example: 5
          description: Indicates number of orders to be combined for average pricing and allocation.
        financialInstrument:
          $ref: '#/components/schemas/FinancialInstrument'
        requestedPlaceOfTrade:
          $ref: '#/components/schemas/PlaceOfTrade'
        currency:
          $ref: '#/components/schemas/Currency'
        executionType:
          type: string
          description: Type of the execution of the order.
          example: limit
          enum:
            - market
            - limit
            - stop
            - stopLimit
        limitPrice:
          description: Limit price per unit of quantity (e.g. per share)
          $ref: '#/components/schemas/Price'
        stopPrice:
          description: Stop price per unit of quantity (e.g. per share)
          $ref: '#/components/schemas/Price'
        timeInForce:
          type: string
          description: Specifies how long the order remains in effect.
          example: day
          enum:
            - day
            - goodTillCancel
            - atTheOpening
            - immediateOrCancel
            - fillOrKill
            - goodTillCrossing
            - goodTillDate
            - atTheClose
            - goodThroughCrossing
            - atCrossing
            - goodForTime
            - goodForAuction
            - goodForMonth
        expiryDateTime:
          $ref: '#/components/schemas/DateTime'
        allocationList:
          type: array
          items:
            $ref: '#/components/schemas/Allocation'
        orderCancellationReasonList:
          type: array
          items:
            $ref: '#/components/schemas/OrderCancellationReason'
          readOnly: true
        executedQuantity:
          $ref: '#/components/schemas/Quantity'
          readOnly: true
    Execution:
      type: object
      description: Entity describing a market execution
      properties:
        id:
          type: string
          description: Unambiguous identifier for the execution.
          example: b7469157-02ea-4938-a485-bc3d9ff43f4d
          readOnly: true
        orderId:
          type: string
          description: Unambiguous identifier for the order, as assigned by the confirming party.
          example: e6751a48-0819-4482-98a4-760453ba770d
          readOnly: true
        reference:
          type: string
          description: |
            Identification or reference of the executed trade.
          example: MTIzLTk4ODc3NTY=
        quantity:
          description: Total quantity (e.g. number of shares) executed.
          type: number
        executionDateTime:
          description: DateTime of the single execution.
          $ref: '#/components/schemas/DateTime'
        price:
          description: The average price for quantity that has traded.
          $ref: '#/components/schemas/Price'
        placeOfTrade:
          $ref: '#/components/schemas/PlaceOfTrade'
    eventSubscriptionId:
      description: |
        Unique identification as assigned by the API exposing party to uniquely
        identify the callback URL resource.
      type: string
      minLength: 1
      maxLength: 40
      example: 3v3n7subscr1p70n
    eventType:
      description: Event type the subscription should apply to AND reason why a notification is sent.
      type: string
      enum:
        - heartbeat
        - order:doneForDay
        - order:orderStatusUpdated
        - order:pendingReplace
        - order:replaced
        - order:restated
        - order:suspended
        - order:trade
        - order:tradeCancel
        - order:tradeCorrect
      example: order:orderStatusUpdated
    eventSubscription:
      type: object
      required:
        - eventSubscriptionId
      properties:
        eventSubscriptionId:
          $ref: '#/components/schemas/eventSubscriptionId'
        callbackUrl:
          description: |
            Callback URL for a TPP hosted service. Will be used by API exposing party, in conjunction with the resource name, to construct a URL
            to send event notifications to.
          type: string
          format: uri
          example: https://examplecallbackuri.com
        eventTypes:
          description: Array of event types the subscription applies to. An empty list indicates that no notifications are sent.
          type: array
          items:
            $ref: '#/components/schemas/eventType'
    eventSubscriptionRequest:
      type: object
      required:
        - callbackUrl
      properties:
        callbackUrl:
          description: |
            Callback URL for a TPP hosted service. Will be used by API exposing party, in conjunction with the resource name, to construct a URL
            to send event notifications to.
          type: string
          format: uri
          example: https://examplecallbackuri.com
        eventTypes:
          description: Array of event types the subscription applies to. An empty list indicates that no notifications are sent.
          type: array
          items:
            $ref: '#/components/schemas/eventType'
    EventSubscriptionId:
      description: |
        Unique identification as assigned by the API exposing party to uniquely
        identify the callback URL resource.
      type: string
      minLength: 1
      maxLength: 40
      example: 3v3n7subscr1p70n
    Version:
      description: Indicates to which version of the respective API the notification is belonging to.
      type: string
      enum:
        - v1
        - v2
        - v3
      example: v2
    EventType:
      description: Event type the subscription should apply to AND reason why a notification is sent.
      type: string
      enum:
        - heartbeat
        - order:doneForDay
        - order:orderStatusUpdated
        - order:pendingReplace
        - order:replaced
        - order:restated
        - order:suspended
        - order:trade
        - order:tradeCancel
        - order:tradeCorrect
      example: order:orderStatusUpdated
    NotificationId:
      description: Identification of the notification.
      type: string
      example: 120066c9-58a1-432b-aa60-712fae7f143e
    notificationOrderPlacement:
      description: Notification for the order placement API that is pushed to the TPP.
      type: object
      properties:
        eventSubscriptionId:
          $ref: '#/components/schemas/EventSubscriptionId'
        version:
          $ref: '#/components/schemas/Version'
        eventType:
          $ref: '#/components/schemas/EventType'
        resourceLink:
          description: Link to resource that triggered the event notification.
          type: string
          example: /api/openwealth/order-placement/v2/orders/abcd1234
        created:
          description: Timestamp - Date and time including timezone on which the notification has been created, according to ISO8601
          $ref: '#/components/schemas/DateTime'
        id:
          description: Identification (UUID) of this notification.
          $ref: '#/components/schemas/NotificationId'
        predecessorId:
          description: Identification (UUID) of the notification that predeceeds this notification.
          $ref: '#/components/schemas/NotificationId'
        orderStatus:
          description: Status of the requested resource notification.
          $ref: '#/components/schemas/OrderStatus'
        executedQuantity:
          description: Total quantity (e.g. number of shares) filled.
          $ref: '#/components/schemas/Quantity'
        averagePrice:
          description: Calculated average price of all fills on this order.
          $ref: '#/components/schemas/Price'
        remainingQuantity:
          description: |
            Quantity open for further execution.
            If the status is cancelled,  expired, or rejected (in which case the order is no longer active) then remainingQuantity could be 0, otherwise remainingQuantity = orderQuantity - executedQuantity.
          $ref: '#/components/schemas/Quantity'
        lastQuantity:
          description: Quantity (e.g. shares) bought/sold on this (last) fill.
          $ref: '#/components/schemas/Quantity'
        lastPrice:
          description: Price of this (last) fill.
          $ref: '#/components/schemas/Price'
  responses:
    '400':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: |
        Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error
        as malformed request syntax.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '401':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '403':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Forbidden - The server understood the request but refuses to authorize it.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '404':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: |
        Not Found - The origin server did not find a current representation for the target resource
        or is not willing to disclose that one exists.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '405':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: |
        Method Not Allowed - The method received in the request-line is known by the origin server
        but not supported by the target resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '409':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Conflict - The request conflicts with the current state of the target resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '500':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '501':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Not Implemented - The server does not support the functionality required to fulfill the request.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '503':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
    '504':
      headers:
        Content-Type:
          $ref: '#/components/headers/Problem-Content-Type'
        Content-Language:
          $ref: '#/components/headers/Content-Language'
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
      description: Gateway Timeout - The server did not get a response in time that it needed in order to complete the request.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
