openapi: 3.0.0
info:
  version: 3.0.0-draft
  title: Order Placement API
  description: This API is used to place orders and check on the order status.
  contact:
    email: openwealth@synpulse.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - description: Your server url
    url: https://www.openwealth.ch

externalDocs:
  description: Find out more about OpenWealth API specifications.
  url: https://openwealth.ch

tags:
  - name: accountaccess
    description: Account access operations.
  - name: event-notification
    description: Event notification operations.
  - name: event-notification-subscription
    description: Event notification subscription operations.
  - name: orderplacement
    description: Order placement operations.
  - name: orderstatus
    description: Order status operations.

security: []

paths:
  /orders:
    post:
      tags:
        - orderplacement
      summary: Posts a new order
      description: Posts a new order.
      operationId: postOrder
      parameters:
        - $ref: '#/components/parameters/correlation_in_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './components/schemas/Order.yaml'
      responses:
        '202':
          description: Order accepted for further processing.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                $ref: './components/schemas/order.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
    get:
      tags:
        - orderstatus
      summary: Returns a list of open security orders
      description: |
        Returns all open orders to which the user of the API has access to. Paging is done based on the order object,
        i.e. if limit is set to 1, then 1 order will be returned per page.
      operationId: getOrders
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Order list.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
            X-nextCursor:
              $ref: '../generics/components/headers/X-Next-Cursor.yaml'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components/schemas/OrderExpanded.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'

  /orders/{orderId}:
    get:
      tags:
        - orderstatus
      summary: Returns a single security order
      description: Returns a specific security order.
      operationId: getOrderByClientOrderId
      parameters:
        - $ref: './components/parameters/orderId.yaml'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Receive a specific order with the corresponding allocations and status.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                $ref: './components/schemas/order.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
    delete:
      tags:
        - orderplacement
      summary: Cancellation of a specific order
      description: Places the cancellation request for a specific order.
      operationId: deleteOrderByClientOrderId
      parameters:
        - $ref: './components/parameters/orderId.yaml'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '202':
          description: Order cancellation received for further processing.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                $ref: './components/schemas/order.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
  /accountaccesses:
    get:
      tags:
        - accountaccess
      summary: Returns list of accounts the requestor has access to
      description: |
        Returns list of accounts the requestor has access to with the type of access the requestor has. Paging is done based on the accountaccess
        object, i.e. if limit is set to 1, then 1 accountaccess object will be returned per page.
      operationId: getAccountAccesses
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Returns list of accounts the requestor has access to.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                items:
                  $ref: './components/schemas/accountAccess.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
  /event-subscriptions:
    post:
      tags:
        - event-notification-subscription
      summary: Subscribe to Events
      description: Allows TPP to subscribe to specific events for the API.
      operationId: postEventSubscription
      parameters:
        - $ref: '#/components/parameters/correlation_in_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './components/schemas/eventSubscriptionRequest.yaml'
      responses:
        '201':
          description: Subscription created.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                $ref: './components/schemas/eventSubscription.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '409':
          $ref: '../generics/components/responses/409.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
        '504':
          $ref: '../generics/components/responses/504.yaml'
    get:
      tags:
        - event-notification-subscription
      summary: View Subscriptions
      description: Allows TPP to view the event subscriptions.
      operationId: getEventSubscriptions
      parameters:
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Event Subscription read.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components/schemas/eventSubscription.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
        '504':
          $ref: '../generics/components/responses/504.yaml'
  /event-subscriptions/{eventSubscriptionId}:
    get:
      tags:
        - event-notification-subscription
      summary: View Subscription
      description: Allows TPP to view the event subscription.
      operationId: getEventSubscriptionByEventSubscriptionId
      parameters:
        - $ref: './components/parameters/path_eventSubscriptionId.yaml'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: Event Subscription read.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                $ref: './components/schemas/eventSubscription.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
        '504':
          $ref: '../generics/components/responses/504.yaml'
    put:
      tags:
        - event-notification-subscription
      summary: Change event subscription
      description: Changes event subscription.
      operationId: changeEventSubscriptionByEventSubscriptionId
      parameters:
        - $ref: './components/parameters/path_eventSubscriptionId.yaml'
        - $ref: '#/components/parameters/correlation_in_header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/schemas/eventSubscription.yaml'
      responses:
        '200':
          description: Event subscription changed
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                $ref: './components/schemas/eventSubscription.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
        '504':
          $ref: '../generics/components/responses/504.yaml'

    delete:
      tags:
        - event-notification-subscription
      summary: Delete event subscription
      description: Deletes event subscriptions.
      operationId: deleteEventSubscriptionsByEventSubscriptionId
      parameters:
        - $ref: './components/parameters/path_eventSubscriptionId.yaml'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '204':
          description: Event subscription deleted.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
        '400':
          $ref: '../generics/components/responses/400.yaml'
        '401':
          $ref: '../generics/components/responses/401.yaml'
        '403':
          $ref: '../generics/components/responses/403.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'
        '405':
          $ref: '../generics/components/responses/405.yaml'
        '500':
          $ref: '../generics/components/responses/500.yaml'
        '501':
          $ref: '../generics/components/responses/501.yaml'
        '503':
          $ref: '../generics/components/responses/503.yaml'
        '504':
          $ref: '../generics/components/responses/504.yaml'

  /event-subscriptions/{eventSubscriptionId}/event-notifications:
    get:
      tags:
        - event-notification
      summary: Get event notifications
      description: Get aggregated event-notification list.
      operationId: geteventNotificationsByEventSubscriptionId
      parameters:
        - $ref: './components/parameters/path_eventSubscriptionId.yaml'
        - $ref: './components/parameters/fromEventDateTime.yaml'
        - $ref: './components/parameters/afterEventId.yaml'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/correlation_in_header'
      responses:
        '200':
          description: aggregated event-notification list.
          headers:
            X-Correlation-ID:
              $ref: '../generics/components/headers/X-Correlation-ID.yaml'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components/schemas/notificationOrderPlacement.yaml'
        '404':
          $ref: '../generics/components/responses/404.yaml'

components:
  ###############
  # Parameters  #
  ###############

  parameters:
    limit:
      in: query
      name: limit
      description: Maximum number of items to return.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
    #        maximum: 100
    #        default: 20
    cursor:
      in: query
      name: cursor
      required: false
      schema:
        type: string
      description: An opaque string value used for pagination.
    correlation_in_header:
      in: header
      name: X-Correlation-ID
      required: true
      schema:
        type: string
      description: Unique ID (defined by the caller) which will be reflected back in the response.
