openapi: 3.0.0
info:
  version: 3.0.2-draft
  title: Custody Services
  description: |
    This API is part of the OpenWealth APIs for the connectivity between custody banks and WealthTechs (e.g. Portfolio Management Systems).
    This API allows the user to receive data from custody banks regarding accounts and positions. The API is designed to be used for either
    update end of day data batches or single near-realtime account/position information. Furthermore, this API allows the user to receive
    data from custody banks regarding transactions.
  contact:
    email: openwealth@synpulse.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - description: Your Server URL
    url: https://api.openwealth.ch
externalDocs:
  description: Find out more about OpenWealth API specifications.
  url: https://openwealth.ch
tags:
  - name: accounts
    description: Accounts operations.
  - name: customers
    description: Customer operations.
  - name: positions
    description: Position operations.
  - name: transactions
    description: Transaction operations.
security: []
paths:
  /customers:
    get:
      tags:
        - customers
      summary: Returns all customers (business partners) accessible for the logged in user
      description: |
        This endpoint returns a highlevel list of customers accessible for the logged in user. Paging is done based on the customer object,
        i.e. if limit is set to 1, then 1 customer will be returned per page.
      operationId: getCustomers
      parameters:
        - $ref: '../../Globals/V3/Params/cursor.yaml'
        - $ref: '../../Globals/V3/Params/limit.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Returns a list with all customers.
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
            nextCursor:
              $ref: '../../Globals/V3/Headers/X-Next-Cursor.yaml'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'Resources/Customer.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /customers/{customerId}:
    get:
      tags:
        - customers
      summary: Returns a specific customer accessible for the logged in user
      description: This endpoint returns a single customer.
      operationId: getCustomersByCustomerId
      parameters:
        - $ref: '../../Globals/V3/Params/path_customerId.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Returns a the specified customer.
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
          content:
            application/json:
              schema:
                $ref: 'Resources/Customer.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /customers/{customerId}/accounts:
    get:
      tags:
        - accounts
      summary: Returns the accounts for a specific customer accessible to the querying user
      description: |
        Returns all accounts for a specific customer. Paging is done based on the account object, i.e. if limit is set to 1,
        then 1 account will be returned per page.
      operationId: getCustomerAccountsByCustomerId
      parameters:
        - $ref: '../../Globals/V3/Params/path_customerId.yaml'
        - $ref: '../../Globals/V3/Params/cursor.yaml'
        - $ref: '../../Globals/V3/Params/limit.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Account List
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
            nextCursor:
              $ref: '../../Globals/V3/Headers/X-Next-Cursor.yaml'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'Resources/Account.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /customers/{customerId}/accounts/{accountId}:
    get:
      tags:
        - accounts
      summary: Returns an account by id for a specific customer
      description: Returns an account by id for a specific customer.
      operationId: getCustomerAccountById
      parameters:
        - $ref: '../../Globals/V3/Params/path_customerId.yaml'
        - $ref: '../../Globals/V3/Params/path_accountId.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Account
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
            nextCursor:
              $ref: '../../Globals/V3/Headers/X-Next-Cursor.yaml'
          content:
            application/json:
              schema:
                $ref: 'Resources/Account.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /customers/{customerId}/positions:
    get:
      tags:
        - positions
      summary: Returns the positions for a specific customer
      description: |
        Returns all positions for a specific customer. Paging is done based on the position object, i.e. if limit is set to 1,
        then 1 position will be returned per page.
      operationId: getCustomerPositionByCustomerId
      parameters:
        - $ref: '../../Globals/V3/Params/path_customerId.yaml'
        - $ref: '../../Globals/V3/Params/date.yaml'
        - $ref: 'Params/end_of_day_indicator.yaml'
        - $ref: '../../Globals/V3/Params/cursor.yaml'
        - $ref: '../../Globals/V3/Params/limit.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Position List
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
            nextCursor:
              $ref: '../../Globals/V3/Headers/X-Next-Cursor.yaml'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'Resources/ValuatedPosition.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /customers/{customerId}/positions/{positionId}:
    get:
      tags:
        - positions
      summary: Returns a positions by id for a specific customer
      description: Returns a positions for a specific customer.
      operationId: getCustomerPositionById
      parameters:
        - $ref: '../../Globals/V3/Params/path_customerId.yaml'
        - $ref: '../../Globals/V3/Params/path_positionId.yaml'
        - $ref: 'Params/dateOptional.yaml'
        - $ref: 'Params/end_of_day_indicator.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Position
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
          content:
            application/json:
              schema:
                $ref: 'Resources/ValuatedPosition.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /accounts/{accountId}/positions:
    get:
      tags:
        - positions
      summary: Returns the positions for a specific account
      description: |
        Returns all positions for a specific account. Paging is done based on the position object, i.e. if limit is set to 1,
        then 1 position will be returned per page.
      operationId: getAccountPositionByAccountId
      parameters:
        - $ref: '../../Globals/V3/Params/path_accountId.yaml'
        - $ref: '../../Globals/V3/Params/date.yaml'
        - $ref: 'Params/end_of_day_indicator.yaml'
        - $ref: '../../Globals/V3/Params/cursor.yaml'
        - $ref: '../../Globals/V3/Params/limit.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Position List
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
            nextCursor:
              $ref: '../../Globals/V3/Headers/X-Next-Cursor.yaml'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'Resources/ValuatedPosition.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /accounts/{accountId}/positions/{positionId}:
    get:
      tags:
        - positions
      summary: Returns a positions by id for a specific account
      description: Returns a positions for a specific account, if the date is not provided, the last available valuation date should be returned.
      operationId: getAccountPositionById
      parameters:
        - $ref: '../../Globals/V3/Params/path_accountId.yaml'
        - $ref: '../../Globals/V3/Params/path_positionId.yaml'
        - $ref: 'Params/dateOptional.yaml'
        - $ref: 'Params/end_of_day_indicator.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Position
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
          content:
            application/json:
              schema:
                $ref: 'Resources/ValuatedPosition.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /customers/{customerId}/transactions:
    get:
      tags:
        - transactions
      summary: Returns a transactions for a specific customer
      description: |
        Returns all transactions for the a specific customer. Paging is done based on the transaction object, i.e. if limit is set to 1,
        then 1 transaction will be returned per page.
      operationId: getTransactionByCustomerId
      parameters:
        - $ref: '../../Globals/V3/Params/path_customerId.yaml'
        - $ref: '../../Globals/V3/Params/date.yaml'
        - $ref: 'Params/end_of_day_indicator.yaml'
        - $ref: '../../Globals/V3/Params/cursor.yaml'
        - $ref: '../../Globals/V3/Params/limit.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Returns a transaction list for a specific customer.
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
            nextCursor:
              $ref: '../../Globals/V3/Headers/X-Next-Cursor.yaml'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'Resources/Transaction.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

  /customers/{customerId}/transactions/{transactionId}:
    get:
      tags:
        - transactions
      summary: Returns a transaction for a specific customer
      description: Returns a transaction instance by id.
      operationId: getTransactionByTransactionId
      parameters:
        - $ref: '../../Globals/V3/Params/path_customerId.yaml'
        - $ref: '../../Globals/V3/Params/path_transactionId.yaml'
        - $ref: '../../Globals/V3/Params/x_correlation_id_in_header.yaml'
      responses:
        '200':
          description: Returns a transaction list for a specific customer.
          headers:
            X-Correlation-ID:
              $ref: '../../Globals/V3/Headers/X-Correlation-Id.yaml'
          content:
            application/json:
              schema:
                $ref: 'Resources/Transaction.yaml'
        '400':
          $ref: '../../Globals/V3/Responses/400.yaml'
        '401':
          $ref: '../../Globals/V3/Responses/401.yaml'
        '403':
          $ref: '../../Globals/V3/Responses/403.yaml'
        '404':
          $ref: '../../Globals/V3/Responses/404.yaml'
        '405':
          $ref: '../../Globals/V3/Responses/405.yaml'
        '500':
          $ref: '../../Globals/V3/Responses/500.yaml'
        '501':
          $ref: '../../Globals/V3/Responses/501.yaml'
        '503':
          $ref: '../../Globals/V3/Responses/503.yaml'

components:
  schemas: {}
  parameters: {}
  securitySchemes: {}
  responses: {}
  headers: {}
